.fb-clone-container {
    width: 100%;
    float: left;
    padding: 20px 0 20px 0;
    position: fixed;
    z-index: 99;
    background-color: #fff;
}

.section-container {
    margin: 95px 0 0 0;
    width: 100%;
    float: left;
}


.container {
    margin: auto;
    width: 98%;
}
.header {
    width: 10%;
    float: left;
    text-align: left;
}
.search-bar {
    float: left;
    text-align: right;
    width: 60%;
    position: relative;
}


.search-icon {
    position: absolute;
    top: 10px;
    left: 406px;
}

.header h1 {
    margin: 0;
    color: #1777F2;
}

.fb-clone-container input  {
    font-size: 18px;
    width: 760px;
    padding: 15px 45px;
    border-radius: 25px;
    border: none;
    background-color: #8080804a;
}

.fb-icons {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 30%;
    float: right;
    text-align: right;
}

.fb-icon-img {
    padding: 10px;
    border-radius: 35px;
    background-color: #E4E6EB;
}

.fb-icon-account-holder{
    border-radius: 35px;
}

.tooltip {
    position: relative;
    display: inline-block;
    margin-right: 15px;
    z-index: 1;
}
  
.tooltip .tooltiptext {
    display: none;
    width: 100px;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    color: #fff;
    background-color: gray;
    top: 55px;
}
  
.tooltip:hover .tooltiptext {
    display: block;
}

.menu-contsiner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    width: 300px;
    margin: 10px;
    padding: 0 0 0 15px;
    border-radius: 15px;
    text-decoration: none;
    color: #000;
}

.black {
    border-radius: 15px;
}
.menu-contsiner:hover {
    background-color: #80808024;
}

.menu-contsiner h2 {
    font-size: 20px;
    font-weight: 400;
}

.hover-container {
    height: 100vh;
}

.fixed-content {
    position: fixed;
}

.hover-page {
    display: flex;
    justify-content: space-evenly;
    gap: 35px;
    width: 840px;
    padding: 20px 0;
    margin: 20px 0 0;
    border-radius: 10px;
    background-color: #fff;
}

.menu-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    width: 158px;
    font-weight: 900;
    padding: 0 0 0 15px;
    border-radius: 10px;
    padding: 8px 12px;
    text-decoration: none;
    color: #646F8C;
}

.menu-content:hover {
    background-color: #80808024;
}

nav a.active {
    border-radius: 5px;
    color: #1777F2;
}

.stories-reels-rooms-page {
    position: relative;
    width: 840px;
    height: 345px;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    overflow: auto;
    white-space: nowrap;
}

.stories-reels-rooms-page img {
    padding: 10px;
    border-radius: 30px;
}

.stories-reels-rooms-page video {
    padding: 10px;
    border-radius: 30px;
    border: 1px solid;
}

.stories-name {
    position: absolute;
    left: 35px;
    bottom: 30px;
    color: #fff;
}

.stories-container {
    position: relative;
}

.stories-icons {
    position: absolute;
    top: 25px;
    left: 30px;
    border-radius: 20px;
    background-color: cornsilk;
}
/* 
.stories-icons img:hover {
    background-color: #80808024;
} */

.i-icons {
    position: absolute;
    left: 213px;
    top: 22px;
    border: 1px solid;
    padding: 2px;
    border-radius: 25px;
}

.create-container {
    width: 230px;
    border: 2px solid;
    margin: 15px;
    height: 295px;
    padding: 10px;
}

.create-container:hover {
    background-color: #80808024;
}

.create-container img {
    border: 1px solid;
    padding: 12px;
    margin: 35px 0 40px;
    border-radius: 35px;
}

.create-container h4 {
    font-size: 20px;
    margin: 0;
}

.create-button {
    width: 190px;
    font-size: 18px;
    font-weight: 900;
    margin: 35px 0;
    padding: 7px;
    color: #1777F2;
    background-color: #fff;
}

.create-button:hover {
    background-color: #80808024;
}

.friend-content{
    display: flex;
    flex-direction: inherit;
    text-align: left;
}

.friend {
    margin: 100px 0 0 0;
}

.mind-container {
    position: absolute;
    left: 715px;
    top: 490px;
}

.live-container {
    width: 840px;
    border-radius: 10px;
    margin: 25px 0 0;
    background-color: #fff;
}

.mind-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.mind-content img {
    border-radius: 25px;
}

.mind-content input {
    width: 700px;
    font-size: 19px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    margin: 10px 0;
    background-color: #F0F2F5;
}

.live-line {
    margin: 0 20px;
}

.feeling-container{
    display: flex;
    justify-content: space-around;
}

.your-mind-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.your-mind-container p {
    font-weight: 600;
    color: #65676B;
}
.post-container {
    width: 840px;
    background-color: #fff;
}

.post-page {
    width: 818px;
    padding: 10px;
}

.post {
    width: 100%;
    margin: 10px 0;
    border-radius: 15px;
    background-color: #fff;
}

.profil-post-page {
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profil {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.close-page {
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.profil img {
    border-radius: 20px;
}

.profil p {
    font-weight: 600;
    font-family: inherit;
}

.like-comment-share-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.content p {
    font-weight: 600;
    color: #65676B;
}

.sideMenu {
    width: 30%;
    float: left;
    position: relative;
    height: 100vh;
}

.reelsMenu {
    width: 50%;
    float: left;
}

.like-content {
    font-weight: 900;
    border-radius: 10px;
    padding: 8px 12px;
    text-decoration: none;
    color: #000;
    
}

.like-content:hover {
    background-color: #80808024;
}

.comment-content {
    font-weight: 900;
    border-radius: 10px;
    padding: 8px 12px;
    text-decoration: none;
    color: #000;
}

.comment-content:hover {
    background-color: #80808024;
}

.share-content {
    font-weight: 900;
    border-radius: 10px;
    padding: 8px 12px;
    text-decoration: none;
    color: #000;
}

.share-content:hover {
    background-color: #80808024;
}

.account-container {
    position: relative;
}

.account-container img {
    max-width: 100%;
    border-radius: 15px;
}

.create-position {
    position: absolute;
    bottom: 80px;
    right: 80px;
}

.create-with-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 195px;
    padding: 5px;
    margin: 0;
    border-radius: 10px;
    font-weight: 800;
    gap: 10px;
    color: #fff;
    background-color:  #f8eeee33;
}

.camera-position {
    position: absolute;
    bottom: 30px;
    right: 80px;
}

.stories-names {
    position: relative;
    width: 840px;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    overflow: auto;
    white-space: nowrap;
}


.tooltips {
    position: relative;
    display: inline-block;
    margin-right: 15px;
    z-index: 1;
}
  
.tooltips .icons {
    display: none;
    width: 100px;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    color: #fff;
    background-color: gray;
    top: 55px;
}
  
.tooltips:hover .icons {
    display: block;
}

.add-friend-request {
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    border-radius: 10px;
    overflow: auto;
    white-space: nowrap;
    background-color: #fff;
}

.people-you-may {
    display: flex;
    justify-content: space-between;
    padding: 0 15px 0 0;
    align-items: center;
}

.add-friend-request p {
    padding: 0 0 0 10px;
    color: #b0a5a5;
}

.seeall-button button {
    width: 94%;
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
    margin: 12px;
    border: none;
    border-radius: 10px;
    color: #1777F2;
    background-color: #fff;
}

.seeall-button button:hover {
    background-color: #80808024;
}

.add-friend {
    height: 315px;
    background-color: #fff;
    display: flex;
    overflow: auto;
    white-space: nowrap;
}

.add-request {
    position: relative;
    border: 1px solid;
    margin: 10px;
}

.cancel-btn {
    position: absolute;
    top: 8px;
    right: 12px;
}
.add-request h4 {
    margin: 8px 0 8px 15px;
}

.add-friend-btn {
    display: flex;
    justify-content: center;
    margin: 40px 0 0 0;
}

.add-friend-btn button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    width: 200px;
    padding: 10px 10px;
    margin: 0;
    border-radius: 9px;
    border: none;
    gap: 15px;
    color: #1777F2;
}

.icons-container {
    position: relative;
    margin-right: 15px;
    z-index: 1;
}
  
.icons-container .icons-content {
    display: none;
    width: 325px;
    text-align: center;
    border-radius: 30px;
    padding: 5px;
    position: absolute;
    background-color: #fff;
    top: 0;
}

.icons-container:hover .icons-content {
    display: block;
}

.like-icon {
    position: relative;
    margin-right: 15px;
    z-index: 1;
    width: 30px;
    float: left;
}
  
.like-icon .like-page {
    display: none;
    padding: 5px;
    position: absolute;
    top: 0;
    color: #fff;
    background-color: gray;
}

.like-icon:hover .like-page {
    display: block;
}

.account-holder-details {
    position: relative;
}

.account-holder-details img {
    border-radius: 150px;
    position: absolute;
    left: 35px;
    top: -45px
}

.account-holder-details h2 {
    font-size: 25px;
    max-width: 740px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.add-to-container {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    height: 120px;
}

.addto-story {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    width: 150px;
    padding: 7px;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    background-color: #1777F2;
}

.edit-profil {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 150px;
    padding: 7px;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 600;
    color: #000
}

.down {
    width: 70px;
    font-size: 17px;
    font-weight: 600;
    padding: 7px;
    border: none;
    border-radius: 10px;
}

.section-page {
    display: flex;
    justify-content: left;
    align-items: center;
    font-weight: 600;
    color: gray;
}

.select {
    width: 60px;
    padding: 15px 5px;
    border-radius: 6px;
    margin: 0;
    text-decoration: none;
    color: gray;
}

.select:hover {
    background-color: #80808024;
}


nav select.active {
    border-radius: 5px;
    color: #1777F2;
}

.messenger-container {
    width: 20%;
    float: left;
}

.messenger-contacts-container {
    margin: 5px 15px;
}

.messenger-contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contacts-details {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.contacts-details p {
    margin: 0;
}

.contacts-messenger {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
}

.menu-contacts-messenger {
    width: 410px;
    font-weight: 900;
    border-radius: 10px;
    padding: 8px 12px;
    text-decoration: none;
    color: #000;
}

.menu-contacts-messenger:hover {
    background-color: #80808024;
}

.myAccount-details {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;
    color: #000;
}

.myAccount-details:hover {
    background-color: #80808024;
}


.account-details-container {
    background-color: #fff;
    padding: 10px;
}

.intro-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.postspage-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    border: none;
    margin: 10px 0;
    text-align: left;
    padding: 10px 20px;
    border-radius: 14px;
    background-color: #fff;
}

.postspage-content:hover {
    background-color: #80808024;
}

.postspage-content h3 {
    margin: 10px 0 5px 0;
}

.postspage-content p {
    margin: 0 0 10px 0;
}

.securitylock-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    border: none;
    /* margin: 10px 0; */
    text-align: left;
    padding: 10px 20px;
    border-radius: 14px;
    background-color: #fff;
}

.securitylock-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.locked-your-profile h3 {
    margin: 20px 0 0 0;
}

.locked-your-profile p {
    margin: 5px 0;
    font-size: 18px;
    font-weight: 600;
    color: #1777F2;
}

.intro-content {
    width: 400px;
    border: none;
    margin: 10px 0;
    text-align: left;
    padding: 10px 20px;
    border-radius: 14px;
    background-color: #fff;
}

.add-bio {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 600;
    margin: 10px 0;
}

.add-bio:hover {
    background-color: #8080807d;
}

.live-content {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    margin: 8px 0;
}

.editing-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.live-even-container{
    width: 605px;
    border-radius: 10px;
    margin: 13px 0 0;
    background-color: #fff;
}

.live-even-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.filters-manage-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.filters {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 175px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    padding: 10px;
}

.view-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.view-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 45%;
    font-size: 17px;
    font-weight: 600;
    padding: 8px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    background-color: #fff;
}

.view-btn:hover {
    background-color: #80808024;
}


.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px 0;
    border-radius: 10px;
    background-color: #fff;
}

.about-content-btn {
    width: 25%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 10px 0 55px 0;
    /* background-color: #fff; */
}

.abc {
    width: 73%;
    padding: 0 25px;
    margin: 20px 0;
    /* background-color: #fff; */
}

/* .about-content-btn p {
    width: 85%;
    font-size: 15px;
    font-weight: 600;
    text-align: left;
    padding: 10px 0 10px 10px;
    margin: 0 0 10px 0;
    border: none;
    border-radius: 5px;
    color: #7A7C7F;
    background-color: #fff;
} */


/* .about-content-btn p:hover {
    background-color: #80808024;
} */

.about-header-title {
    width: 85%;
    font-size: 15px;
    font-weight: 600;
    text-align: left;
    padding: 10px 0 10px 10px;
    margin: 0 0 10px 0;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    color: #7A7C7F;
    background-color: #fff;
}

.about-header-title:hover {
    background-color: #80808024;
}

.about-header {
    width: 100%;
    text-align: justify;
    margin: 0 0 0 50px;
}

.right-side-line hr {
    margin: 0;
}

/* .addwork-container {
    width: 70%;
} */

.add-work-content {
    display: flex;
    gap: 15px;
    margin: 30px 0 0 0;
    font-weight: 600;
    color: blue;
}

.add-work-content p {
    font-size: 15px;
    font-weight: 500;
}

.cap-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 0 6px;
}

.degree {
    display: flex;
    align-items: center;
    gap: 20px;
}

.school-name h5{
    margin: 0 0 5px 0;
    font-size: 15px;
    font-weight: 500;
}

.school-name p {
    margin: 0;
    font-size: 13px;
    text-align: left;
    color: #8A8C8F;
}

.three-dot {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.dot-icon {
    padding: 10px;
    background-color: #E4E6EB;
    border-radius: 30px;
}

.live-detail-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 28px 0 0 6px;
}

.location-detail-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 22px 0 0 6px;
}

.school-first-container {
    width: 73%;
    margin: 15px 0 0 0;
}

.school-content {
    text-align: left;
}

.school-content h3 {
    font-size: 17px;
}

.school-are-college-place {
    display: flex;
    gap: 10px;
}

.school-are-college-place p {
    font-size: 15px;
    color: #1876F2;
}

.degree-school-to-college {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0 0 0;
}

.school-to-college {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.school-name-content h5 {
    margin: 0;
}

.school-name-content p {
    margin: 0;
}

.ab {
    width: 70%;
}